<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/core/angular/angular.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="myAppCtrl">
    {{{body}}}
  </body>
</html>
